<h1>Please sign in </h1>

<form action='/sessions' method='post'>
Email: <input type='email' name='email'>
Password: <input type="password" name='password'>
<input type="submit" name="signin" value="Sign in">
</form>