<form action='/links' method='post'>
  <input type="text" name="url" placeholder="Enter URL">
  <input type="text" name="name" placeholder="Enter Name">
  <input type='hidden' name "confirmation" value="New Link added">
  <input type="submit" value="Submit">
</form>

